* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  background-image: url("images/background.png");
  background-repeat: repeat; 
  background-attachment: fixed;
  background-size: 70px 70px; 
  color: #333;
  line-height: 1.6;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: -1;
}

header {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed; 


  color: white;
  text-align: center;
  margin-top: -10px;
  padding: 50px 20px;
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.homeheader {
  background-position: 100% 20%;
  background-image: url("images/test.avif");
}

.attractionsheader {
  background-position: 100% 115%;
 background-image: url("images/attractionheader.jpg");
}

.stayheader {
  background-position: 100% 135%;
  background-image: url("images/stay.jpeg");
}

.foodheader {
  background-position: 100% 170%;
  background-image: url("images/food.jpg");

}

.evaluationheader {
  background-position: 100% 130%;
  background-image: url("images/evaluation.jpg");
}

.aboutusheader {

  background-position: 10% 220%;
  background-image: url("images/aboutus.jpg");
  max-width: 100%;
}


header h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
}

header p {
  margin-top: 10px;
  font-size: 1.2em;
}

nav {
  background:linear-gradient(to right, #003366, #00509E);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}

nav #current-page {
  background: #145374;
  border-radius: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

nav a:hover {

  border-bottom: 3px solid #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2em;
  color: #003366;
  font-weight: bold;
  border-bottom: 3px solid #00509E;
  display: inline-block;
  padding-bottom: 5px;
}

.landmarks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.landmark-item {
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s, box-shadow 0.4s;
  overflow: hidden;
}

.landmark-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 105%;
  height: 255px;
}

.landmark-item a:hover {
  color: #145374;
  text-decoration: underline;
  font-weight: bold;
}


.landmark-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.landmark-item p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #0d3b66;

}

.landmark-item a {
  text-decoration: none;
  color: #0d3b66;
}



@media (max-width: 768px) {
  .landmarks {
    grid-template-columns: 1fr;
  }

  .landmark-item {
    width: 90%;
    margin: 0 auto;
  }
}



.attraction {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.attractions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 20px;
  align-items: stretch;
}

.attraction:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.attraction img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.attraction-content {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.attraction-content .attractions-btn {
  margin-top: auto;
}

.attraction-content h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #003366;
  font-weight: bold;
}

.attraction-content p {
  text-align: justify;
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.5;
 margin-bottom: auto; 
}

.attractions-btn {
  text-align: center;
  display: inline-block;
  padding: 5px 9px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px; 
  font-family: "Roboto", sans-serif; 
  background-color: #0D47A1;
  color: #ffffff;
  border: 2px solid #0D47A1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease,
              color 0.3s ease,
              box-shadow 0.3s ease;

}

.attractions-btn:hover {
  background-color: #1565C0;
  color: #ffffff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.interactiveMap {
  margin-top: 40px;
  text-align: center;
}

.interactiveMap iframe {
  margin-top: 15px;
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
  margin-top: 20px;
  border-top: 3px solid #0d3b66;
  padding-top: 15px;
}

.map iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.place-desc {
padding-top: 35px;
height: 145px;


}

.stay-grid, .food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.stay-item {
  height: 630px;
}

.tebu {
  margin-top: 8px;

}


.stay-item, .food-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.stay-item img, .food-item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2.5px solid #0d3b66;
}

.stay-item:hover, .food-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stay-item-content, .food-item-content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-table {
height: 350px;
}

.stay-item-content h3, .food-item-content h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #0d3b66;
  font-weight: bold;
}

.stay-item-content p, .food-item-content p {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

table {
  margin: 10px auto;
  border-spacing: 0;
  border-collapse: collapse;
  width: 90%;
}

table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.mainContentAboutMPB {
  background: white;
  margin: 30px 200px 30px 200px;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.containerlogompb {
  text-align: center;


}


.latarBelakangmpb p {
  margin: 15px 0px 10px 0px;
  text-align: justify;
  text-indent: 20px;
}

.missionAndVisionContent {
  display: flex;
}


.visionContent {
  background: white;
  margin: 20px 10px 20px 200px;
  width: 50%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.missionContent p , .visionContent p {
  line-height: 1.8;
  text-align: center;
}

.missionContent h2 , .visionContent h2 {
  line-height: 1.8;
  text-align: center;
}

.missionContent {
  background: white;
  border-radius: 10px;
  margin: 20px 200px 20px 10px;
  width: 50%;
  padding: 20px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;


}




.latarBelakangmpb h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2em;
  color: #003366;
  font-weight: bold;
  border-bottom: 3px solid #00509E;
  display: inline-block;
  padding-bottom: 5px;
}




footer {
  background: #0d3b66;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
  font-size: 0.9em;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}






.profile-container {
    	display: flex;
    	gap: 20px;
    	padding: 20px;
    	max-width: 1200px;
    	margin: 0 auto; }

  .profile-left, .profile-right {
    	flex: 1;
        background-color: #f9f9f9;
    	padding: 20px;
    	border-radius: 10px;
    	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

  .profile-left {
    	text-align: justify; }

  .profile-left p {
    	text-indent: 30px; 
    	line-height: 1.6;    
    	margin-bottom: 20px;   
 	font-size: 16px; 
    	color: #333;  }

  .profile-right {
      	flex: 1;
      	background-color: #f9f9f9;
      	padding: 20px;
    	border-radius: 10px;
    	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    	text-align: center; }

  .profileImage {
    	width: 90%; 
    	max-width: 250px; 
    	height: auto;
    	margin: 0 auto 20px auto;
    	border-radius: 10px;     
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

  .profile-right h3 {
    	margin-bottom: 15px;
    	font-size: 18px;
    	color: #333;
    	text-align: center; }

  .profile-left h3 {
    	text-align: center; 
    	margin-bottom: 20px; s}

.profile-right table {
    	width: 80%;
    	margin: 0 auto;
    	border-collapse: collapse; }

..profile-right td {
    	text-align: left;
    	padding: 8px 12px; 
    	vertical-align: top;     
	line-height: 1.6; }










   .container {
      max-width: 600px;
      margin: 40px auto;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 20px 30px;
    }
    h1 {
      margin-top: 0;
      text-align: center;
    }
    .container p {
      text-align: center;
      margin-bottom: 20px;
      color: #555;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    label {
      font-weight: bold;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
      font-family: inherit;
      box-sizing: border-box;
    }
    textarea {
      resize: vertical;
      height: 100px;
    }
    .star-rating {
      margin-bottom: 1em;
      display: flex;
      flex-direction: row-reverse; 
      justify-content: center;
      gap: 5px;
    }

    .star-rating input {
      display: none;
    }
    .star-rating label {
      font-size: 2rem;
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
      color: gold;
    }

    .star-rating input:checked ~ label {
      color: gold;
    }


    .btn {
      display: inline-block;
      width: 150px;
      padding: 12px;
      font-size: 1rem;
      text-align: center;
      background: #007BFF;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 5px;
      align-self: flex-end;
      border: none;
    }
    .btn:hover {
      background: #0056b3;
    }


    #statusMessage {
      text-align: center;
      font-weight: bold;
      margin-top: 15px;
      display: none; 
    }
    #statusMessage.success {
      color: green;
    }
    #statusMessage.error {
      color: red;
    }






#sp-address {
    background: url("images/top-background.jpg") no-repeat center center;
    background-size: cover;
    color: #333;
    padding: 50px 20px;
    text-align: center;
}


.sp-address-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sp-address-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.sp-address-logo img {
    max-width: 150px;
    height: auto;
}


.sp-address-details, 
.sp-address-contact {
    text-align: left;
    padding: 15px;
}

.sp-address-details h3, 
.sp-address-contact h3 {
    font-size: 18px;
    color: #145374;
}


.sp-address-social {
    margin-top: 30px;
    text-align: center;
}

.sp-address-social a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: color 0.3s ease;
}

.sp-address-social a:hover {
    color: #145374;
}

@media (max-width: 768px) {
    .sp-address-row {
        flex-direction: column;
        text-align: center;
    }

    .sp-address-details, 
    .sp-address-contact {
        text-align: center;
    }

    .sp-address-logo img {
        max-width: 120px;
    }
}

